
<div *ngIf="games">
    <ul>
        <li *ngFor="let game of games; let i = index">
            <h1> {{game.title | uppercase}}</h1>
            <br>
            <h5>With id: {{game.id}}</h5>
            <br>
            <img src="{{game.image}}" alt="picture">
        <app-subscribe [subGame] = "game"></app-subscribe>
        </li>
    </ul>
    <button (click)="showContacts()"> Show contacts </button>
</div> 

<div *ngIf="isShown">
   <h1> Our contacts... </h1>
</div>


<input #name placeholder="Type name">
<button (click)="showName(name.value)">Show</button>
